name: CI Pipeline # nom qui apparait dans l'onglet actions de github


# déclencheur , chaque pull ou push déclenche les test
on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "master" ]

# permission necessaire pour le docker
permissions:
  contents: read
  packages: write
  checks: write

jobs:
  test:
    name: Run Unit Tests  # nom du job visible dans l'interface.
    runs-on: ubuntu-latest # demande a github une machine virtuel ubuntu

    steps:
      # Récupération du code
      - name: Checkout code   # nom d'etape
        uses: actions/checkout@v4  # commande copy code sur la machine virtuelle github

      #execution de plusieur ligne pour obtenir un nom choerent
      - name: Set Project Name
        run: |
          if [ -f "build.gradle" ]; then
            echo "REPORT_NAME=Java-Backend" >> $GITHUB_ENV
          elif [ -f "package.json" ]; then
            echo "REPORT_NAME=Angular-Frontend" >> $GITHUB_ENV
          else
            echo "REPORT_NAME=App" >> $GITHUB_ENV
          fi

      # Installation de Java 
      - name: Set up JDK 21
        if: hashFiles('build.gradle') != ''
        uses: actions/setup-java@v4  # commande installation Java 
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle' # Gestion automatique du cache pour accélérer les builds

      # Installation de Node.js 
      - name: Set up Node.js
        if: hashFiles('package.json') != ''
        uses: actions/setup-node@v4 # commande installation Node 
        with:
          node-version: '20'
          cache: 'npm' # Gestion automatique du cache NPM

      # Exécution du script de test 
      - name: Run Custom Test Script
        run: |
          chmod +x run-test.sh
          ./run-test.sh

      # Publication du rapport de test (Intégration au workflow)
      # Cette action lit les fichiers XML dans test-results/ et crée un joli résumé
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4 # rend les resultat des rapport visible
        if: always() # publie le rapport même si les tests échouent
        with:
          report_paths: 'test-results/*.xml' # lieu on sont les resultat des test
          check_name: '${{ env.REPORT_NAME }} Test Report'

      # Archivage des rapports (Optionnel, pour téléchargement manuel)
      - name: Upload Test Artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ${{ env.REPORT_NAME }}-reports
          path: test-results/*.xml
  build:
    name: Build and Push Docker Image
    needs: test # se lance après les test s'il on réussi 
    runs-on: ubuntu-latest
    # on recré les variable job car c'est un nouveau job
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set Image Name
        run: |
          if [ -f "build.gradle" ]; then
            echo "IMAGE_NAME=workshop-organizer" >> $GITHUB_ENV
          elif [ -f "package.json" ]; then
            echo "IMAGE_NAME=olympic-tracker" >> $GITHUB_ENV
          fi

      # log de connexion    
      - name: Log in to GHCR  # GitHub Container Registry
        uses: docker/login-action@v3
        with: # s'identifie sur ghcr.io grace au GITHUB_TOKEN
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # crée le tag
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with: # github.ref_name = nom de la branche , github.sha = identifiant du commit 
          images: ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=${{ github.ref_name }}-${{ github.sha }}
            type=raw,value=latest

      # crée l'image et la pousse    
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with: # le context prend le dockerfile a la racine  et le push true l'envoie une foi construite
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}